 <thead>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</thead>
 <!-- ========================= about style-4 start ========================= -->
    <section id="about" class="about-section about-style-4 mb-80" style= "padding: 40px 0 50px;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="about-content-wrapper">
              <div class="section-title mb-15">
                <h3 class="mb-25 text-center">Notre histoire :</h3>
                <p class="text-justify">
                  Allo Garant est née de l'expérience personnelle des deux fondateurs. Lauréats du lycée AlJabr en 2006, ils se rendent en France pour poursuivre leurs études supérieures : Reda s'installe à Paris tandis que Fahd s'établie à Lyon. Pendant qu'ils cherchent des studios décents, les deux amis d'enfance se heurtent à la dure réalité de tout étudiant étranger qui pose ses valises en France et connaissent un véritable parcours du combattant pour la simple raison qu'ils sont marocains et qu'ils n'ont pas de garant français, condition sine qua non pour être accepté par la plupart des propriétaires.
                  <br><br>

                  Après quelques semaines de recherches infructueuses, ils décident finalement de bloquer un an de loyer et acceptent les conditions de la banque : payer les interêts générés par cette caution bancaire jusqu'à la fin de leur parcours universitaire. <br>
                  Face à cette situation qui perdure auprès de leur entourage, Reda et Fahd se rendent compte qu'il ne s'agit pas d'un cas isolé mais que tous les étudiants ou salariés qui s'installent en France ne correspondent pas aux critères de sélection des bailleurs. D'ailleurs, 67% d'entre eux déposent une dizaine de dossiers d’appartements avant de pouvoir signer un contrat de bail.
                  <br><br>
                  En se positionnant comme tiers de confiance, <strong>Allo Garant</strong> réinvente la relation entre locataires marocains et propriétaires français et ambitionne de bousculer les pratiques actuelles en réinstaurant la confiance entre eux en mettant en évidence la solvabilité de ces locataires pour faciliter leur installation en France. <br><br>
                  Notre mission de facilitateur d’accès au logement des locataires marocains est intrinsèquement liée à notre volonté de vouloir amplifier la sécurité et rentabilité pour les propriétaires français qui acceptent de louer à ces bons profils marocains (ou africains) qui, en immigrant en France, ne cherchent qu’à travailler (ou étudier) dans des conditions décentes.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-image text-lg-end">
              <%= image_tag("signup/team.svg", width: "100%") %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========================= about style-4 end ========================= -->
            <!-- ========================= team style-6 start ========================= -->
    <section class="team-section team-style-6" style= "background-color: #F3F3F3; padding: 20px 0 50px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
            <div class="section-title text-center mb-60">
              <h3 class="mb-15">Qui sommes nous ?</h3>
              <p>Une équipe complémentaire et expérimentée pour vous accompagner tout au long du process locatif en France.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-6 col-md-8 col-sm-12">
            <div class="single-team">
              <div class="image">
                <%= image_tag("signup/reda.png", width: "90%") %>
              </div>
              <div class="info">
                <h6>Reda HALIB</h6>
                <p>CEO</p>
                <ul class="socials">
                  <li>
                    <a href="https://fr.linkedin.com/in/redahalib"> <i class="fab fa-linkedin"></i> </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/redahalib"> <i class="fab fa-twitter"></i> </a>
                  </li>
                </ul>
                <ul class="text-justify">
                  <li>- Master en Entrepreneuriat et Management d'Innovation à l'EmLyon Business School.</li>
                  <li>- Master Sciences de l'Ingénieur à L'université Paris VI.</li>
                  <li>- Co-fondateur de <a href="https://www.winwinly.com">Winwinly</a> @ Station F, Paris.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-8 col-sm-12">
            <div class="single-team">
              <div class="image">
                <%= image_tag("signup/fahd.png", width: "90%") %>
              </div>
              <div class="info">
                <h6>Fahd ELHASSANI</h6>
                <p>Co-CEO</p>
                <ul class="socials">
                  <li>
                    <a href="https://ma.linkedin.com/in/fahd-el-hassani-191609137"> <i class="fab fa-linkedin"></i> </a>
                  </li>
                </ul>
                <ul class="text-justify">
                  <li>- Master en Finance d'Entreprise à l'INSEEC.</li>
                  <li>- Master en Droit des Affaires à l'ISCAE Casablanca.</li>
                  <li>- AgroTech entrepreneur basé à Casablanca.</li>
                  <br>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
