    <!-- ========================= feature style-2 start ========================= -->
    <section id="feature" class="feature-section feature-style-2 mb-80" style= 'padding: 20px 0;'>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
            </div>
            <div class="row align-items-center" style="justify-content: space-around !important;">
              <div><h4 class="text-center"><strong>Conditions Générales d'Utilisation</strong></h4>
              <h6 class="text-center"><i>Dernière mise à jour : 15 Avril 2021</i></h6></div>
                  <div><%= image_tag("signup/securite.svg", width: "180px") %></div>
            </div>
            <br>
            <div style="text-align: justify;">
                <p><br>
                Les présentes Conditions Générales d’Utilisation (CGU) régissent l’accès et l’utilisation du site <strong>www.allogarant.com</strong> <br><br>
                L’utilisation du site <strong>www.allogarant.com</strong> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <strong>www.allogarant.com</strong> sont donc invités à les consulter de manière régulière.<br><br>
                Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Allo Garant International SAS, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.<br><br>
                Le site <strong>www.allogarant.com</strong> est mis à jour régulièrement par Allo Garant International SAS. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.<br><br>
                Tout utilisateur qui crée un espace personnel chez Allo Garant International SAS reconnaît avoir pris connaissance et accepte les Conditions Générales d’Utilisation du site <strong>www.allogarant.com</strong> et de ses partenaires <i><a href="https://legal.garantme.fr/conditions-générales-dutilisation-garantme">Garantme</a></i>, <i><a href="https://www.cautioneo.com/conditions-generales-d-utilisation/">Cautioneo</a></i>, <i><a href="https://stripe.com/fr/legal">Stripe</a></i> et <i><a href="https://gocardless.com/fr-fr/legal/">Gocardless</a></i>.<br><br>
                Les informations proposées sur le Site sont de nature générale et sont destinées à présenter les Services fournis par la Société.<br><br>
                Seules les présentes CGU, le contrat Allo Garant concernant les résidences étudiantes partenaires, et Garantme ou Cautioneo pour la garantie locative sont de nature contractuelles.</p>
            </div>
            <div class="col-lg-12" class="accordion" id="accordionExample">

              <div class="card" style="border: 1px solid transparent; background-color: transparent;" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align: justify;">
                      1. ACCÈS AU SITE
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body text-justify">
                    Allo Garant International SAS se réserve le droit, quelle qu’en soit la raison et à sa seule discrétion, de mettre un terme, de modifier, de suspendre ou d’interrompre l’accès à tout ou partie du Site web, ainsi qu’à ses contenus, ses caractéristiques ou de modifier les heures de disponibilité sans préavis. <br> <br>
                    Les utilisateurs du Site déclarent connaître et comprendre Internet et ses limites dont, notamment, ses caractéristiques fonctionnelles et performances techniques : les risques d'interruption, les temps de réponse pour consulter, interroger ou transférer des informations, les risques, quels qu'ils soient, inhérents à toute connexion sur le réseau.<br> <br>
                    Allo Garant International SAS ne peut être tenue pour responsable d’un quelconque dommage direct ou indirect, de quelque nature que ce soit, résultant de l’accès ou de la navigation sur le Site, en ce compris toute détérioration et/ou virus pouvant affecter votre équipement informatique.<br> <br>
                    Allo Garant International SAS s'efforcera, dans la mesure du possible, de maintenir le Site accessible 7 jours sur 7, 24 heures sur 24, mais ne pourra être tenue à une obligation d'y parvenir.<br> <br>
                    L'accès au Site pourra être interrompu, notamment pour des raisons de maintenance et de mise à niveau ou pour toute autre raison technique sans que cela puisse engager sa responsabilité.
                  </div>
                </div>
              </div>
              <hr>

              <div class="card" style="border: 1px solid transparent; background-color: transparent;" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-align: justify;">
                      2. PROPRIÉTÉ INTELLECTUELLE
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body text-justify">
                    L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. <br> <br>
                    Tous les droits de reproduction et de représentation sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques. <br> <br>
                    La reproduction de tout ou partie de ce site sur tout type de support quel qu'il soit est formellement interdite sauf mention contraire et autorisation expresse du directeur de la publication. Les marques citées sur ce site sont déposées par les sociétés qui en sont propriétaires. <br> <br>
                    Toute reproduction, représentation, diffusion ou rediffusion, totale ou partielle, du contenu de ce site par quelque procédé que ce soit sans l'autorisation expresse et préalable de Allo Garant International SAS est interdite conformément aux dispositions de l’article L.713- 2 du code de la propriété intellectuelle. De même, toute utilisation des contenus du site à des fins illicites peut faire l’objet de poursuites judiciaires.
                  </div>
                </div>
              </div>
              <hr>
              <div class="card" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-align: justify;">
                      3. DONNÉES PERSONNELLES
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body text-justify">
                    Allo Garant International SAS s'engage à respecter la vie privée des utilisateurs et la confidentialité de leurs données personnelles lors de leur navigation sur le site selon la Politique de protection des données.
                  </div>
                </div>
              </div>
              <hr>
              <div class="card" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="text-align: justify;">
                      4. SÉCURITÉ DE VOTRE IDENTIFIANT ET DE VOTRE MOT DE PASSE
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body text-justify">
                    Tout utilisateur du site www.allogarant.com, détenteur d’un identifiant et d’un mot de passe s’engage à préserver la confidentialité de ses informations. <br> <br>
                    L’identifiant de connexion et le mot de passe sont strictement confidentiels et sont réservés à un usage personnel.<br> <br>
                    L’utilisateur s’engage à préserver la confidentialité de son identifiant et de son mot de passe et à ne les transmettre, en aucun cas, à un tiers.<br> <br>
                    L’Utilisateur est responsable de toute activité sur le site qui découle d’une connexion à partir de son identifiant.<br> <br>
                    Allo Garant International SAS ne peut, en aucun cas, être tenu responsable des conséquences d’une connexion sur le site, dès lors que l’identifiant et le mot de passe de l’utilisateur ont permis la connexion.<br> <br>
                    En cas de perte de son mot de passe, l’Utilisateur dispose d’un lien dédié sur la page d’identification et pourra choisir un nouveau mot de passe.<br> <br>
                    En cas d’utilisation non autorisée par l’utilisateur de son mot de passe, celui-ci à l’obligation de changer son mot de passe via la page dédiée du Site.

                  </div>
                </div>
              </div>
              <hr>
              <div class="card" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="text-align: justify;">
                      5. ÉLIGIBILITÉ AUX SERVICES PROPOSÉS PAR ALLO GARANT :
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body text-justify">
                    Dans l’objectif de permettre à Allo Garant International SAS d’analyser la situation financière de l'utilisateur, et de déterminer sa solvabilité et son éligibilité à bénéficier de ses services, Allo Garant International SAS invite l’utilisateur, après inscription, à transmettre des justificatifs. <br><br>
                    Allo Garant International SAS se positionne sur les demandes de souscriptions après complétude de la saisie par l’utilisateur et l’envoi de l’ensemble des justificatifs jugés utiles à l’analyse de la solvabilité du locataire. Allo Garant International SAS détermine le caractère éligible ou inéligible d’une demande de souscription sur la base de contrôles objectifs.<br><br>
                    Dans le cas où une fraude aurait été décelée par Allo Garant International SAS, préalablement à la signature du contrat de bail, Allo Garant se réserve le droit de contacter le propriétaire et de s’opposer à la signature du dit contrat.
                  </div>
                </div>
              </div>
              <hr>
              <div class="card" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="text-align: justify;">
                      6. RESPONSABILITÉ DE ALLO GARANT INTERNATIONAL SAS
                    </button>
                  </h2>
                </div>

                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="card-body text-justify">
                    Les informations communiquées sur le site www.allogarant.com sont fournies à titre informatif. <br><br>
                    La responsabilité de Allo Garant International SAS ne saurait être engagée en cas d'erreur ou d'omission dans les informations fournies. L’utilisateur reconnaît utiliser les informations fournies sous sa seule responsabilité.<br><br>
                    Il est d’autre part précisé que Allo Garant International SAS se réserve le droit de corriger, à tout moment et sans préavis, le contenu du site notamment à des fins d’actualisation.
                  </div>
                </div>
              </div>
              <hr>
              <div class="card" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingSeven">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" style="text-align: justify;">
                      7. LIENS
                    </button>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                  <div class="card-body text-justify">
                    Le site www.allogarant.com présente des interactions avec d’autres sites tiers ; notamment, des prestataires, des partenaires ou des réseaux sociaux. <br><br>
                    Allo Garant International SAS ne saurait être tenu responsable des contenus ou des interactions avec ces tiers.
                  </div>
                </div>
              </div>
              <hr>
              <div class="card" style="border: 1px solid transparent; background-color: transparent;">
                <div id="headingEight">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                      8. ASSISTANCE - SERVICE CLIENT
                    </button>
                  </h2>
                </div>

                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                  <div class="card-body text-justify" style="text-align: justify;">
                    Si l’Utilisateur a besoin d’assistance, il peut contacter Allo Garant International SAS :
                    <ul><br>
                      <li>- directement en ligne à l’aide de la chatbox</li>
                      <li>- par email à l’adresse suivante : <a href="mailto:contact@allogarant.com">contact@allogarant.com</a></li>
                      <li>- par téléphone, du lundi au vendredi, de 09h00 à 18h00 au 06.09.27.86.36
                    <i>(appel non surtaxé - coût selon opérateur - horaires en France métropolitaine).</i></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- ========================= feature style-2 end ========================= -->
