<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>FAQ Section</title>
</head>
<body>

<!-- ========================= feature style-2 start ========================= -->
<section id="feature" class="feature-section feature-style-2 mb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row align-items-center" style="justify-content: space-around !important;">
          <div><h4 class="text-center"><strong>Foire aux questions :</strong></h4></div>
          <div><%= image_tag("signup/question.svg", width: "180px") %></div>
        </div>
        <br>
        <hr>
        <div class="accordion" id="accordionExample">
          <div class="card" style="border: 1px solid transparent; background-color: transparent;">
            <div id="headingOne">
              <p class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align: justify;">
                  + Qu’est ce qu’un garant ?
                </button>
              </p>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <p>96% des propriétaires français requièrent un garant solvable résident en France :
                <ul>
                  <li>- ayant un CDI confirmé </li>
                  <li>- gagnant 3 fois (parfois 5 fois en zone tendue) le montant du loyer </li>
                </ul>
                  Le Garant, ou autrement dit la caution, est une personne légalement responsable si le locataire arrête de payer son loyer.
                  <strong>Le Garant est donc tenu de s'acquitter du loyer en cas de défaut de paiement du locataire.</strong> <br> <br>
                  Faisant face à de plus en plus d'impayés, les propriétaires deviennent de plus en plus exigeants et sélectifs quant aux dossiers de leurs locataires. <br>
                  Avoir un garant à vos côtés rassure le propriétaire et vous offre la possibilité d’obtenir le logement idéal. <br> <br>
                  Avec <strong>Allo Garant</strong> vous avez un <strong>garant sur mesure pour les profils africains !</strong>
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="card" style="border: 1px solid transparent; background-color: transparent;">
            <div id="headingThree">
              <p class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-align: justify;">
                  + Pourquoi passer par Allo Garant?
                </button>
              </p>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body text-justify">
                <p>Nos équipes déployées au Maroc et en France vous accompagnent dans toutes vos démarches jusqu’à la signature du bail. Nous vous donnons la possibilité de contracter un <strong>produit clé en main</strong> qui va de la garantie locative à la chasse d’appartements. <br> <br>
                  Vous aurez accès à des centaines d’agences partenaires où votre dossier sera <strong>prioritaire</strong>, ainsi qu’à une plateforme d’annonces immobilières qui acceptent notre garantie locative. <br> <br>
                  Grâce à notre partenariat avec le réseau Studea Nexity, nous disposons d’un bassin de 15 000+ logements répartis dans 50+ villes en France. Votre dossier y est prioritaire sans besoin de présenter un garant. <br><br>
                  Vous aurez la possibilité de payer la prestation de garantie en dirhams auprès des banques marocaines en conformité avec l’office des changes.
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="card" style="border: 1px solid transparent; background-color: transparent;">
            <div id="headingFour">
              <p class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="text-align: justify;">
                  + Quels sont les justificatifs demandés ?
                </button>
              </p>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body text-justify">
                <p>Pour la Garantie Locative, les pièces justificatives essentielles à l’analyse et la certification de votre dossier sont les suivantes :
                  <ul>
                    <li>- Pièce d'identité en cours de validité (passeport) du locataire.</li>
                    <li>- Attestation d'inscription ou de pré-inscription en France.</li>
                  </ul>
                Pour les Résidences Etudiantes, une simple pièce d'identité en cours de validité suffira.
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="card" style="border: 1px solid transparent; background-color: transparent;">
            <div id="headingSix">
              <p class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="text-align: justify;">
                  + Quelle est la différence entre les packs?
                </button>
              </p>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body text-justify">
                <p> Avec le Pack Résidences Étudiantes, nous revenons vers vous sous 48h avec une liste de propositions et dès que l’une d’entre elles vous plait, vous n’aurez plus qu’à signer le contrat de bail et payer les frais. Vous pouvez considérer à ce moment que vous avez votre chez-vous. <br> <br>
                  En optant pour le Pack Garantie Locative, nous vous fournissons un garant solvable et vous soutenons pendant vos visites d’appartement pour concrétiser un bail. Nous vous encourageons à faire un maximum de visites pour mettre toutes les chances de votre côté dans un marché locatif très concurrentiel. <br><br>
                  En souscrivant au Pack Chasse d'Apparts, vous bénéficiez d’une <strong>équipe de chasseurs d’appartements</strong> dont l’unique mission est de vous dénicher la perle rare en respectant scrupuleusement tous vos critères et besoins. <br><br>
                  Au final, avec le Pack Garantie Locative, vous recherchez de manière autonome et effectuez les visites (nous vous appuierons, bien évidemment); avec le Pack Chasse d'Apparts, nous recherchons votre appartement pour vous.
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="card" style="border: 1px solid transparent; background-color: transparent;">
            <div id="headingSeven">
              <p class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="text-align: justify;">
                  + Quelle est la différence entre Allo Garant et Visale ?
                </button>
              </p>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body text-justify">
                <p>
                  Allo Garant est un organisme privé de garanties locatives complètement indépendant de Visale, un organisme public. <br> <br>
                    <strong>Les critères de sélection</strong>
                    <ul>
                      <li>- Visale : critères de sélection restrictifs à l’entrée (salariés du secteur privé de plus de 30 ans faisant leur demande dans les six mois suivant leur embauche, jeunes de moins de 30 ans)</li>
                      <li>- Allo Garant : critères de sélection des locataires ouverts à toutes les situations professionnelles (étudiants, indépendants, CDD, chefs d'entreprise, CDI, retraités), prenant en compte tout types et provenance de revenus (sous réserve d’éligibilité)</li>
                    </ul>
                    <br>
                    <strong>Le montant du loyer </strong>
                    <ul>
                      <li>
                        - Visale : le montant du loyer est plafonné :
                        <ol>
                          <li> Pour un étudiant : 600€ de loyer en province et 800€ en Île-de-France </li>
                          <li> Pas étudiant : 1 300€ de loyer en province et 1 500€ en Île-de-France.</li>
                        </ol>
                      </li>
                      <li> - Allo Garant : nous n'avons pas de plafond de montant de loyer 💁🏻, il est calculé en fonction de vos revenus.</li>
                    </ul>
                    <br>
                    <strong>Ce que pensent les propriétaires</strong>
                    <ul>
                      <li>- Visale : en cas de retard ou d'impayés le propriétaire doit faire lui-même les démarches et doit attendre à minima deux mois avant d'être indemnisé 😪</li>
                      <li>- Allo Garant : on s'occupe de toute la procédure et le propriétaire est remboursé sans carence ni franchise 😎</li>
                    </ul>
                    <br>
                    <strong>Le + Allo Garant : </strong>si vous n'avez pas trouvé de logement nous vous mettons en relation avec nos agences immobilières partenaires.
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="card" style="border: 1px solid transparent; background-color: transparent;">
            <div id="heading9">
              <p class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" style="text-align: justify;">
                  + Que se passe-t-il si je détériore le logement ? Et si je ne paye pas mes loyers ?
                </button>
              </p>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
              <div class="card-body text-justify">
                <p>Selon la législation française, le locataire doit veiller à maintenir en l'état le logement qu'il occupe. Il est aussi tenu de payer son loyer et ses charges en temps et en heure. <strong>Souscrire aux Garanties Allo Garant ne vous exonère pas de ces obligations. </strong><br> <br>
                  En effet, en cas d’impayé de loyer ou de dégradation immobilière avérée, nous vous demanderons de vous acquitter de l’ensemble de la dette estimée.
                  Sans règlement de votre part, nous réglerons le propriétaire et <strong>vous réclamerons les sommes payées.</strong>
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="card" style="border: 1px solid transparent; background-color: transparent;">
            <div id="heading10">
              <p class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" style="text-align: justify;">
                  + Est ce que Allo Garant intervient auprès de Campus France pour la demande de visa ?
                </button>
              </p>
            </div>
            <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
              <div class="card-body text-justify">
                <p>Pour l’instant, nous ne pouvons vous accompagner dans vos démarches d’obtention de visa auprès de campus France. Notre mission se limite à valider le risque locatif et de faire de vous le <strong>locataire idéal</strong> aux yeux des bailleurs français.
                </p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= feature style-2 end ========================= -->

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.min.js"></script>

</body>
</html>
