<div class="container" style="padding: 20px;">
	<div style="background-color: rgb(250, 250, 250); border: 1px solid #3A95BA; border-radius: 4px; padding: 20px;">
		<div class="row align-items-center" style="justify-content: space-around !important;">
			<div><h3 class="text-center"><strong>Mentions Légales</strong></h3></div>
        	<div><%= image_tag("signup/contrat.svg", width: "180px") %></div>
		</div>
		<br>
		<div style="text-align: justify;">
			<h5><strong>Le site Allo Garant : </strong></h5>
			<br>
			Le site internet www.allogarant.com est la propriété et est édité par Allo Garant International, société par actions simplifiée au <strong>capital de 30.000€</strong>, dont le siège social est situé au <strong>4 Rue de la République 69001 Lyon</strong> et immatriculée au Registre du Commerce et des Sociétés de Lyon sous le numéro <strong>894 283 340</strong>. <br> <br>

			Le directeur de la publication est Reda Halib, président de la société Allo Garant International SAS. Le responsable de la rédaction et de la protection des données est Monsieur Fahd El Hassani, en sa qualité de Directeur général. <br> <br>

			Numéro de TVA intracommunautaire : <strong>FR73894283340</strong><br> <br>

			Pour toute question relative à l’utilisation du site, vous pouvez directement nous contacter par email : <a href="mailto:contact@allogarant.com">contact@allogarant.com</a>. <br> <br>

			<h5><strong>Un hébergement des données en Europe :</strong></h5>
			<br>
			L’hébergement du Site est assuré par les sociétés OVH, SAS au capital de 10 069 020 € immatriculée au Registre du Commerce et des Sociétés de Lille sous le numéro 424 761 419 00045, et dont le siège social est situé 2 rue Kellermann - 59100 Roubaix – France, sur des serveurs situés en France, d’une part, et Heroku Europe (Heroku Inc., 650 7th Street, San Francisco, CA) sur les serveurs d’Amazon Web Services (AWS) Europe, d’autre part.
			Pour plus de renseignements concernant l’hébergement de vos données, veuillez consulter notre politique de confidentialité et les sites <a href="https://www.ovh.com/fr/">https://www.ovh.com/fr</a> et <a href="https://devcenter.heroku.com/articles/gdpr">https://devcenter.heroku.com/articles/gdpr</a>.
			<br> <br>
			L'ensemble des traitements de données à caractère personnel mis en œuvre à partir de ce site internet a fait l'objet d'une demande concernant les déclarations normales ou simplifiées auprès de la Commission Nationale Informatique et Libertés (CNIL) en application de la Loi n° 78-17 du 6 janvier 1978, relative à l'informatique, aux fichiers et aux libertés.
		</div>
	</div>
</div>
